name: .NET Core Desktop

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    strategy:
      matrix:
        configuration: [Debug, Release]
    runs-on: windows-latest
    env:
      Solution_Name: Trumpf.Coparoo.Web.sln
      Test_Project_Path: Trumpf.Coparoo.Web.Tests\Trumpf.Coparoo.Web.Tests.csproj
      Package_Output_Dir: ${{ github.workspace }}\artifacts
      Test_Results_Dir: ${{ github.workspace }}\test-results

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    # Install the .NET Core workload
    - name: Install .NET Core
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    # Add MSBuild to the PATH: https://github.com/microsoft/setup-msbuild
    - name: Setup MSBuild.exe
      uses: microsoft/setup-msbuild@v2

    # Build the solution
    - name: Build
      run: dotnet build ${{ env.Solution_Name }} --configuration ${{ matrix.configuration }}


    # Create test results directory and execute unit tests
    - name: Execute Unit Tests
      run: |
        mkdir -p ${{ env.Test_Results_Dir }}; 
        dotnet test ${{ env.Test_Project_Path }} --configuration ${{ matrix.configuration }} --verbosity normal --logger "trx;LogFileName=${{ env.Test_Results_Dir }}\test_result_${{ matrix.configuration }}.trx"

    # Check if the test result file was created
    - name: Check Test Results
      run: |
        echo "Listing files in test results directory:"
        dir ${{ env.Test_Results_Dir }}

    # Publish the test result as an artifact
    - name: Upload Test Results
      uses: actions/upload-artifact@v4
      with:
        name: test-results
        path: ${{ env.Test_Results_Dir }}\test_result_${{ matrix.configuration }}.trx

    # Generate NuGet package in Release configuration
    - name: Generate NuGet Package
      if: matrix.configuration == 'Release'
      run: |
        dotnet pack ${{ env.Solution_Name }} --configuration Release --no-build --output ${{ env.Package_Output_Dir }}

    # Upload the NuGet package as an artifact
    - name: Upload NuGet Package
      if: matrix.configuration == 'Release'
      uses: actions/upload-artifact@v4
      with:
        name: nuget-package
        path: ${{ env.Package_Output_Dir }}\*.nupkg
